@import "../bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bootstrap-sass/bootstrap-block-grid";

$titleFont: 'Playfair Display';
$titleFont-bold: 'PlayfairDisplay-Bold';
$titleFont-boldItalic: 'PlayfairDisplay-BoldItalic';
$subFont1: 'Raleway';
$subFont1Bold: 'Raleway Bold';
$subFont2: 'Bebas';
$subFont2Alt: 'Bebas Neue';

// colors
$burnt-orange: #e59205;
$dark-ash: #0b0706;
$dark-ash-transparent: rgba(11, 7, 6, 0.6);
$periwinkle: #6e7498;
$light-gray: #afb3c4;
$dark-gray: #3a3a3a;

@font-face {
    font-family: 'PlayfairDisplay';
    src: 
        local('PlayfairDisplay-Regular'),
        url('../fonts/PlayfairDisplay-Regular.otf');
}

@font-face {
    font-family: 'PlayfairDisplay-Bold';
    src: 
        local('PlayfairDisplay-Bold'),
        url('../fonts/PlayfairDisplay-Bold.otf');
}

@font-face {
    font-family: 'PlayfairDisplay-BoldItalic';
    src: 
        local('PlayfairDisplay-BoldItalic'),
        url('../fonts/PlayfairDisplay-BoldItalic.otf');
}

@font-face {
    font-family: 'PlayfairDisplay-Italic';
    src: 
        local('PlayfairDisplay-Italic'),
        url('../fonts/PlayfairDisplay-Italic.otf');
}

@font-face {
    font-family: 'Raleway';
    src: 
        local('Raleway-Regular'),
        url('../fonts/Raleway-Regular.otf');
}

@font-face {
    font-family: 'Raleway Thin';
    src: 
        local('Raleway-Thin'),
        url('../fonts/Raleway-Thin.ttf');
}

@font-face {
    font-family: 'Raleway Bold';
    src: 
        local('Raleway-Bold'),
        url('../fonts/Raleway-Bold.otf');
}

@font-face {
    font-family: 'Bebas';
    src: 
        local('Bebas'),
        url('../fonts/Bebas.ttf');
}

@font-face {
    font-family: 'Bebas Neue';
    src: 
        local('BebasNeue'),
        url('../fonts/BebasNeue.otf');
}

@font-face {
    font-family: 'HelveticaNeue';
    src: 
        local('HelveticaNeue'),
        url('../fonts/HelveticaNeue.dfont');
}

/****************************
    Utility Classes
*****************************/

.vert-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.hori-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.full-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/****************************
    Normal Css
*****************************/

html, body {
    width: 100%;
    height: 100%;
}

.container-fluid {
    //    getting rid of bootstrap padding on container 
    //    so that class is full-width of screen
    padding-left: 0px;
    padding-right: 0px;
}

html, body {
    width: 100%;
    height: 100%;
}

header { 
    width: 100%;
    height: 15vh;
    background-color: $dark-ash-transparent;
    padding: 0%;
    position: fixed;
    top: 0px;
    z-index: 5;
    
    h3, h5 {
        margin: 0px;
    }
    
    ul {
        width: 70%;
        height: 100%;
        margin-left: 15%;
        padding: 0px;
        position: relative;
        
        li {
            list-style: none;
            text-align: center;
        }
    }
}

#listDiv {
    position: relative;
    height: 100%;
}

.headerDiv {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    
    h6 { 
        color: white;
        font-family: $subFont1;
        text-transform: uppercase;
        font-size: 10px;
    }
}

#title {
    margin: 0px;
    color: $burnt-orange;
    font-family: $titleFont-bold;
    font-size: 45px;
    
}

/****************************
    Section positioning
*****************************/

.Overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
}

form {
    width: 100%;
    height: 100%;
}

#heroSection {
    width: 100%;
    height: 100vh;
    
    background-image: url("../images/hero_image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
    position: fixed;
    top: 0px;
    z-index: 1;
}

#background2 {
    width: 100%;
    height: 45vh;
    
    position: fixed;
    bottom: 0px;
    z-index: 0;
}

#background2TextBlock {
    width: 40%;
    height: 100%;
    background-color: $burnt-orange;
    position: relative;
    
    h2 {
        color: white;
        font-family: $titleFont-boldItalic;
        font-size: 45px;
    }
    
}

#background2Image {
    
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    
    background-image: url("../images/check_us_out.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

#background3 {
    width: 100%;
    min-height: 45vh;
    
    position: fixed;
    bottom: 0px;
    z-index: 0;
    
    background-image: url("../images/newsletter.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

#foodSection {
    width: 100%;
    min-height: 100vh;
    padding-top: 1px;
    
    background-color: white;
    position: relative;
    z-index: 3;
    margin-top: 100vh;
}

#categorySection {
    width: 100%;
    min-height: 150vh;
    padding-top: 1px;
    
    background-color: white;
    position: relative;
    z-index: 3;
    margin-top: 45vh;
}

footer {
    width: 100%;
    min-height: 10vh;
    
    background-color: white;
    position: relative;
    z-index: 3;
    margin-top: 45vh
}

/****************************
    Content code
*****************************/

#heroContent {
    width: 60%;
    height: 200px;
    margin: 0px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    
    h2 {
        margin: 0px;
        
        font-family: 'PlayfairDisplay-BoldItalic';
        letter-spacing: 1px;
    }
    
    span {
        color: $burnt-orange;
    }
    
    p {
        font-family: 'Raleway Thin';
        width: 50%;
        margin: 30px auto;
        font-size: 12px;
    }
    
    button {
        width: 130px;
        height: 40px;
        background-color: transparent;
        border-color: white;
        border-width: 1px;
        border-style: solid;
        
        font-family: 'Bebas Neue';
        text-transform: uppercase;
    }
}



.section-header {
    height: 60px;
    margin-top: 40px;
}

.section-header-column {
    height: 100%;
    
    h2 {
        margin: 0px;
        text-align: center;
        color: $periwinkle;
        font-family: $titleFont-boldItalic;
        letter-spacing: 1px;
        
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

.subheader {
    width: 60%;
    height: 50px;
    margin: 0px auto 20px auto;
    text-align: center;
    
    p {
        font-family: 'Raleway';
        width: 65%;
        margin: 30px auto;
        font-size: 12px;
        color: $light-gray;
    }
}

.orange-bar {
    height: 1px;
    width: 100%;
    background-color: $burnt-orange;
    
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.ghost-button {
    display: block;
    width: 130px;
    height: 40px;
    margin: 0px auto;
    
    color: $periwinkle;
    background-color: transparent;
    border-color: $periwinkle;
    border-width: 1px;
    border-style: solid;

    font-family: $subFont2Alt;
    text-transform: uppercase;
}

.ghost-button-fill {
    display: block;
    width: 130px;
    height: 40px;
    color: white;
    margin: 0px auto;
    
    background-color: $burnt-orange;
    border-color: transparent;
    border-width: 1px;
    border-style: none;

    font-family: $subFont2Alt;
    text-transform: uppercase;
}

#categoryMeats {
    width: 85%;
    margin: 40px auto 0px auto;
}

.foodCard {
    width: 70%;
    margin: 20px auto;
    
    img {
        width: 100%;
        margin: 20px auto;
        padding: 10px;
        box-shadow: 0px 0px 34px -5px rgba(0, 0, 0, 0.5);
    }
}

.foodCard-focus {
    width: 95%;
    position: relative;
    top: -20px;
}

.foodCardInfo {
    text-align: center;
    
    h2 {
        color: $burnt-orange;
        font-family: $titleFont-boldItalic;
    }
    
    h6 {
        font-family: $subFont1Bold;
    }
    
    p {
        font-family: 'Raleway';
        width: 65%;
        margin: 15px auto;
        font-size: 12px;
        color: $light-gray;
    }
    
}

.foodCardInfo-collapse {
    
}

#categoryContent {
    width: 70%;
    margin: 70px auto 0px auto;
    padding-bottom: 40px;
}

.category-block {
    width: 100%;
    text-align: center;
    
    img {
        width: 50px;
        display: block;
        margin: 0px auto 20px auto;
    }
    
    h4 {
        color: $periwinkle;
        font-family: $titleFont-bold;
        letter-spacing: 0.5px;
    }
    
    p {
        font-family: 'Raleway';
        width: 70%;
        margin: 25px auto;
        font-size: 10px;
        color: $light-gray;
        line-height: 20px;
    }
}

#newsletterContainer {
    width: 80%;
    text-align: center;
    
    h1 {
        font-family: $titleFont-boldItalic;
        color: white;
        letter-spacing: 1px;
        margin: 20px 0px 0px 0px;
    }
    
    input {
        width: 350px;
        height: 30px;
        margin: 20px auto 30px auto;
        border: 1px solid white;
        
        color: white;
        background-color: transparent;
        text-transform: uppercase;
        font-family: $subFont2Alt;
    }
}

#footerContent {
    width: 80%;
    min-height: 100%;
    margin: 0px auto;
}
#leftFooterContainer {
    width: 50%;
    float: left;
    padding: 3% 0px;
    
    font-family: $subFont1;
    font-size: 10px;
    
    
    h6 {
        margin: 0px;
        color: $light-gray;
    }
    
}

#rightFooterContainer {
    width: 50%;
    float: right;
    padding: 3% 0px;
    
    font-family: $subFont1;
    font-size: 10px;
    color: $light-gray;
    
    ul {
        list-style: none;
        text-align: center;
        
        li {
            color: $light-gray
        }
    }
    
}

