

@import "../bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bootstrap-sass/bootstrap-block-grid";

@font-face {
    font-family: 'Gotham Rounded Book';
    src: 
        local('Gotham Rounded Book'),
        url('../fonts/Gotham-Rounded-Book.ttf');
}

@font-face {
    font-family: 'Gotham Rounded Bold';
    src: 
        local('Gotham Rounded Bold'),
        url('../fonts/Gotham-Rounded-Bold.ttf');
}

@font-face {
    font-family: 'Gotham Rounded Medium';
    src: 
        local('Gotham Rounded Medium'),
        url('../fonts/Gotham-Rounded-Medium.ttf');
}    

html, body {
    width: 100%;
    height: 100%;
}

.container-fluid {
    //    getting rid of bootstrap padding on container 
    //    so that class is full-width of screen
    padding-left: 0px;
    padding-right: 0px;
}