@import "../bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bootstrap-sass/bootstrap-block-grid";

$font1: 'Playfair Display';
$font2: 'Raleway';
$font3: 'Bebas';

// colors
$burnt-orange: '#e59205';
$dark-ash: '#0b0706';
$periwinkle: '#6e7498';
$light-gray: '#afb3c4';
$dark-gray: '#3a3a3a';

@font-face {
    font-family: 'PlayfairDisplay';
    src: 
        local('PlayfairDisplay-Regular'),
        url('../fonts/PlayfairDisplay-Regular.otf');
}

@font-face {
    font-family: 'Raleway';
    src: 
        local('Raleway-Regular'),
        url('../fonts/Raleway-Regular.otf');
}

@font-face {
    font-family: 'Bebas';
    src: 
        local('Bebas'),
        url('../fonts/Bebas.ttf');
}    

html, body {
    width: 100%;
    height: 100%;
}

.container-fluid {
    //    getting rid of bootstrap padding on container 
    //    so that class is full-width of screen
    padding-left: 0px;
    padding-right: 0px;
}